<header>
    <nav>
        <ul style="display: grid; grid-template-columns: repeat(30%,  3); list-style>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">About</a>
            </li>
            <li>
                <a href="/">Contact</a>
            </li>
        </ul>
    </nav>
</header>
