{% extends  'layout/base.twig' %}

{% block main_content %}
    <h1>All Variants</h1>
    <ul>
        {% for variant in variants %}
            <li>
                {{ variant.title}} 
                <a href="/variants/ {{ variant.id }}">Edit</a>
                <a href="/variants/ {{ variant.id }}/delete">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="/variants/new">Create Variant</a>
{% endblock %}
