<h1>Manage All Products</h1>

<ul>
    {% for product in products %}
        <li>
            <a href="/products/{{ product.id }}">{{ product.title }}</a>
            <a href="/products/ {{ product.id }}/edit">Edit</a>
            <a href="/products/ {{ product.id }}/delete">Delete</a>
        </li>
    {% endfor %}
    <a href="/products/new">Create New Product</a>
</ul>